<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asklepios</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="icon" href="Img/logo_icon.png" type="image/x-icon">
</head>
<style>
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    body {
        width: 1920px;
        font-family: 'Pretendard-Regular',serif;
        margin-top: 50px;
    }
    .insertValue {
        width: 80%;
        height: 80px;
    }
    .tableSet {
        display: flex;
        justify-content: center;
    }
    table {
        width: 40%;
    }
    table tr td input {
        width: 100%;
        height: 70px;
        border-radius: 10px;
    }
    table tr td {
        height: 100px;
    }
    .insertValue {
        width: 80%;
        height: 80px;
    }
    .tableSet {
        display: flex;
        justify-content: center;
    }
    table tr td input {
        width: 100%;
        height: 70px;
        border-radius: 10px;
    }
    table tr td {
        height: 100px;
    }
    .sheet {
        background-color: gray;
        border-radius: 50%;
        width:120px;
        height: 120px;
        align-content: center;
        text-align: center;
        font-size: 18px;
    }
</style>
<script th:inline="javascript">

    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                 // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                    document.getElementById("sample6_extraAddress").readOnly = true;
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                document.getElementById("sample6_postcode").readOnly = true;
                document.getElementById("sample6_address").readOnly = true;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    function insertInfo(){
        //user_name_eng
        let user_name_eng=document.getElementsByName("user_name_eng")[0];
        firstEngName = document.getElementById('user_first_name_eng').value;
        lastEngName = document.getElementById('user_last_name_eng').value;
        user_name_eng.value = firstEngName + ' ' + lastEngName;
        //user_register_number
        let user_register_number=document.getElementsByName("user_register_number")[0];
        user_register_number.value = document.getElementById('user_register_first_number').value + '-'
            + document.getElementById('user_register_second_number').value;
        //user_tel
        let user_tel=document.getElementsByName("user_tel")[0];
        user_tel.value=document.getElementById('user_tel_first_number').value + '-'
            + document.getElementById('user_tel_second_number').value + '-'
            + document.getElementById('user_tel_third_number').value;
        //user_addr
        let user_addr=document.getElementsByName("user_addr")[0];
        user_addr.value=document.getElementById('sample6_postcode').value
            + ',' + document.getElementById('sample6_address').value
            + ',' + document.getElementById('sample6_detailAddress').value
            + ',' + document.getElementById('sample6_extraAddress').value;
    }
    function popUp(){
        window.open('http://localhost:8080/asklepios/showAgreement','약관내용',
            'width=700px,height=800px,scrollbars=yes');
    }
    function agree(agreement){
        let user_info_agreement=document.getElementById("user_info_agreement");
        if(agreement){
            user_info_agreement.value="agree";
            user_info_agreement.style.color="#1e40af";
        }
    }
    function checkAgreement(){
        let agreement=document.getElementById("user_info_agreement").value;
        if(agreement==="disagree"){
            Swal.fire({
                icon: 'warning',
                title: '약관을 동의하지 않았습니다.',
                text: '회원가입을 위해 약관을 읽고 동의해주세요.',
                confirmButtonColor: '#3B82F6',
                confirmButtonText: '확인'
            });
            return false;
        }else{
            insertInfo();
            return true;
        }

    }

</script>
<body class="mx-auto" style="margin-top: 50px">
<h1 style="font-size: xx-large; text-align: center;">추가 정보 입력</h1>
<form action="saveSocialInfo" method="post" enctype="multipart/form-data" onsubmit="return checkAgreement()" id="submit">
    <div class="tableSet">
        <table>
            <tr>
                <td style="width: 20%">
                    <label for="user_name" class="mx-auto block font-medium text-gray-900 ">사용자 이름<span style="color: red">(*)</span></label>
                </td>
                <td class="insertValue">
                    <input th:value="${user.getUser_name()}" readonly type="text"  id="user_name" name="user_name" class="mx-auto block bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="사용자 이름을 입력하시오.">
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <label for="user_first_name_eng" class="mx-auto block font-medium text-gray-900 ">사용자 이름(영문)<span style="color: red">(*)</span></label>
                </td>
                <td class="insertValue">
                    <input required type="text" id="user_first_name_eng" title="EnglishName_First" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="First Name" style="width: 49.5%">
                    <input required type="text" id="user_last_name_eng" title="EnglishName_Last" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="Last Name" style="width: 49.5%">
                    <input type="hidden" id="user_name_eng" name="user_name_eng" value="">
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <label for="user_register_first_number" class="mx-auto block font-medium text-gray-900 ">주민등록번호<span style="color: red">(*)</span></label>
                </td>
                <td>
                    <input required type="text" id="user_register_first_number" title="주민등록번호 앞자리" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="주민등록 앞자리" maxlength="6" style="width: 46%">
                    <span>&nbsp-&nbsp</span>
                    <input required type="password" id="user_register_second_number" title="주민등록번호 뒷자리" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="주민등록 뒷자리" maxlength="7" style="width: 50%">
                    <input type="hidden" name="user_register_number" value="">
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <label for="user_tel_first_number" class="mx-auto block font-medium text-gray-900 ">전화번호<span style="color: red">(*)</span></label>
                </td>
                <td>
                    <input required type="text" id="user_tel_first_number" name="user_tel_first_number" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="010" style="width: 25%" maxlength="3">
                    <span>-</span>
                    <input required type="text" id="user_tel_second_number" name="user_tel_second_number" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="0000" style="width: 35%" maxlength="4">
                    <span>-</span>
                    <input required type="text" id="user_tel_third_number" name="user_tel_third_number" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="0000" style="width: 35%" maxlength="4">
                    <input type="hidden" name="user_tel" value="">
                </td>
            </tr>
            <tr>
                <td style="width: 20%" >
                    <label for="user_email_address" class="mx-auto block font-medium text-gray-900 ">이메일<span style="color: red">(*)</span></label>
                </td>
                <td>
                    <input readonly th:value="${#strings.setSplit(user.getUser_email(),'@')[0]}" type="text" id="user_email_address" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="address" style="width: 30%">
                    <span>@</span>
                    <input readonly th:value="${#strings.setSplit(user.getUser_email(),'@')[1]}" type="text" id="user_email_domain" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="domain" style="width: 30%">
                    <select disabled id="email_domain" onchange="changeDomain(this.value)" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" style="width: 35.5%; height: 70px">
                        <option value="write">=== 선택 ===</option>
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="kakao.com">kakao.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="hanmail.net">hanmail.net</option>
                    </select>
                    <input type="hidden" name="user_email" value="">
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <label class="mx-auto block font-medium text-gray-900 ">주소<span style="color: red">(*)</span></label>
                </td>
                <td>
                    <input required type="text" id="sample6_postcode" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="우편번호" style="width: 49.5%" readonly>
                    <input type="button" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" style="width: 49.5%">
                    <input required type="text" id="sample6_address" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="주소" readonly>
                    <input required type="text" id="sample6_detailAddress" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="상세주소">
                    <input type="text" id="sample6_extraAddress" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="참고항목" readonly>
                    <input type="hidden" name="user_addr" value="">
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <label for="user_info_agreement" class="mx-auto block font-medium text-gray-900 ">이용약관 및 <br>제3자 정보 제공 동의</label>
                </td>
                <td>
                    <input type="text" id="user_info_agreement" name="user_info_agreement" style="text-align: center; font-weight: bold; color: red; width:49.5%" value="disagree" readonly >
                    <input type="button" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" onclick="popUp()" value="약관동의" style="width: 49.5%">
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <label for="user_image" class="mx-auto block font-medium text-gray-900 ">사용자 이미지<br>(300*400)</label>
                </td>
                <td>
                    <input type="file" name="file" id="user_image" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="선택된 이미지 없음">
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align: center">
        <button type="submit" id="save" class="bg-blue-500 rounded-lg w-48 h-16 mt-10 text-white text-xl"><strong>저장</strong></button>
    </div>
</form>
<br>

</body>
</html>