<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asklepios.hospitalreservation_asklepios.Repository.IF_AdminMapper">
    <select id="selectAllHospital" resultType="com.asklepios.hospitalreservation_asklepios.VO.HospitalVO">
        select * from hospital
    </select>

    <update id="approveHospital" parameterType="String">
        update hospital set hospital_accept = "승인" where hospital_name = #{hospital_name}
    </update>

    <update id="disapproveHospital" parameterType="String">
        update hospital set hospital_accept = "거절" where hospital_name = #{hospital_name}
    </update>
</mapper>