<body>
<aside>
    <div class="asideStyle" style="margin-top: 10px;">
        <a href="/asklepios/qandaList" id="asideList">
            <input type="button" class="asideForm asideButton asideList rounded-lg" id="btn_asideList" value="게시글">
        </a>
    </div>
    <div class="asideStyle">
        <a href="/asklepios/qanda" id="asideQuestion">
            <input type="button" class="asideForm asideButton asideQuestion rounded-lg" id="btn_asideQuestion" value="질문하기">
        </a>
    </div>
    <div class="asideStyle">
        <input type="button" class="asideForm asideButton asideAnswer rounded-lg" id="btn_asideAnswer" value="답변하기">
    </div>
</aside>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>

</script>