<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Asklepios</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/9b855eea51.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="icon" href="Img/logo_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="CSS/home.css"/>
  <link rel="stylesheet" href="CSS/qandaAside.css"/>
  <link rel="stylesheet" href="CSS/questionForm.css"/>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <style>
    .asideList {
      background-color:#3b82f6;
      color:white;
    }
  </style>
</head>
<body>
<div th:replace="~{include/header}"></div>
<div style="display:flex; width: 1920px; height: 1200px; margin-bottom: 80px;">
  <div style="display: inline-block;" th:replace="~{include/leftAside/qandaAside}"></div>
  <div class="container3 w-[1200px] h-[1000px] flex">
    <!--<div class="nav">
      home>qna
    </div>-->
    <div class="max-w-full mx-auto flex-1">
      <ul class="w-full max-w-[1200px] space-y-4 overflow-y-auto max-h-screen">
        <li class="w-full bg-white shadow-md rounded-lg flex flex-col min-h-[200px] p-6" th:each="item : ${list}">
          <a th:href="@{/show?id={id}(id=${item.id})}" class="block w-full flex flex-col h-full" style="margin-top:-2%;">
            <!-- 제목 -->
            <div class="font-bold text-4xl mt-2" style="padding:2%;" th:text="${item.title}">질문 제목 1</div>
            <!-- 내용 -->
            <div class="text-gray-600 text-base mt-4 truncate" style="padding-left:2%;" th:text="${#strings.abbreviate(item.content, 30)}">이것은 질문 내용 예시입니다.</div>
            <!-- 태그 (하단에 고정) -->
            <div class="flex space-x-2">
            <div class="qnataglist" style="padding-left:2%; padding-top:2%" th:each="t : ${item.tagList}">

            <div class="text-gray-500 text-sm mt-auto" th:text="${t == ''? t:'#' + t}">#태그1 #태그2 #태그3</div>

            </div>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>



  <aside id="aside2" th:insert="~{include/rightAside}"></aside>
</div>
<footer id="footer" th:replace="~{include/footer}">
</footer>
<!--<script>-->
<!--  document.getElementById("btn_asideQuestion").classList.remove("asideQuestion");-->

<!--document.getElementById("btn_asideList").classList.add("asideQuestion");-->


<!--</script>-->
</body>
</html>
<script src="JS/questionForm.js"></script>


